<div id="userList">
    <!-- 用户名列表 -->
    <!-- <p-orderList [value]="users" [listStyle]="{'height':'368px'}" header="用户昵称列表" filter="filter" filterBy="name"
        filterPlaceholder="Filter by name" dragdrop="true" [(selection)]="selectedUser"
        (onSelectionChange)="showDetail(selectedUser)">
        <ng-template let-user pTemplate="item">
            <div class="ui-helper-clearfix">
                <div [id]="user.id">
                    <i class="fa fa-user-circle-o"></i>
                    {{user.name}}
                </div>
            </div>
        </ng-template>
    </p-orderList> -->
    <div id="userDetail">
        <div class="ui-g ui-md-4">
            <div class="ui-inputgroup">
                <button type="button" id="search" (click)="search(input_name)">Search</button>
                 <div id="user_name" ngDefaultControl [(ngModel)]="warnNames"  [ngStyle]="{'display':warn_div}" >
                       <ul>
                           <li *ngFor="let username of warnNames" (mouseover)="input_name=username"
                           (click)="changInput(username)"
                           >
                               <i class="fa fa-user"></i>
                               {{username}}
                           </li>
                       </ul>
                 </div>
                <input type="text" id="keyword" placeholder="Keyword" [(ngModel)]="input_name" name="input" (keyup)="onKey()">
                <button type="button" id="add" (click)="openAddSiderbar()">添加用户</button>
            </div>
        </div>
        <p-table [value]="users" [paginator]="true" [rows]="8" [totalRecords]="users.length" selectionMode="single"
            [(selection)]="selected_user">
            <ng-template pTemplate="header">
                <tr>
                    <th>用户ID</th>
                    <th>用户名</th>
                    <th>用户密码</th>
                    <th>用户年龄</th>
                    <th>用户性别</th>
                    <th>用户爱好</th>
                    <th>删除用户</th>
                    <th>编辑用户</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user >
                <tr [id]="user.name" [pSelectableRow]="user">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.sex}}</td>
                    <td>{{user.interest}}</td>
                    <td><i class="fa fa-close" (click)="deleteUser(user.id,$event)"></i></td>
                    <td><i class="fa fa-edit" (click)="openEidtSiderbar(user)"></i></td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="siderbar">
        <p-sidebar [(visible)]="addSiderbar" [fullScreen]="true" [baseZIndex]="10000">
            <h1 style="text-align: center" ngDefaultControl [(ngModel)]="title">{{title}}</h1>
            <div id="userInfo">
                <span class="ui-float-label">
                    <input id="float-input" *ngIf="title == '添加用户'" type="text" size="30" pInputText
                        [(ngModel)]="userId" />
                    <input id="float-input" *ngIf="title == '编辑用户'" type="text" size="30" pInputText
                        [(ngModel)]="userId" readonly style="background-color: #e7e8e8;" />
                    <label for="float-input">用户ID</label>
                </span>
                <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="username" />
                    <label for="float-input">用户名</label>
                </span>
                <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="pwd" />
                    <label for="float-input">密码</label>
                </span>

                <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="age" />
                    <label for="float-input">年龄</label>
                </span>

                 <span>
                    <h4>性别:</h4>
                    <div class="ui-g" style="width:250px;margin-bottom:10px">
                        <div class="ui-g-12">
                            <p-radioButton name="group1" value="男" label="男" [(ngModel)]="selectedSex" inputId="opt1">
                            </p-radioButton>
                        </div>
                        <div class="ui-g-12">
                            <p-radioButton name="group1" value="女" label="女" [(ngModel)]="selectedSex" inputId="opt2">
                            </p-radioButton>
                        </div>
                    </div>
                </span> 
                 <span>
                    <h4 class="first">爱好:</h4>
                    <div class="ui-g" style="width:250px;margin-bottom:10px">
                        <div class="ui-g-12">
                            <p-checkbox name="group1" value="打篮球" label="打篮球" [(ngModel)]="selectedSports" inputId="ny">
                            </p-checkbox>
                        </div>
                        <div class="ui-g-12">
                            <p-checkbox name="group1" value="打羽毛球" label="打羽毛球" [(ngModel)]="selectedSports"
                                inputId="sf">
                            </p-checkbox>
                        </div>
                        <div class="ui-g-12">
                            <p-checkbox name="group1" value="踢足球" label="踢足球" 
                                [(ngModel)]="selectedSports" inputId="la">
                            </p-checkbox>
                        </div>
                        <div class="ui-g-12" >
                            <p-checkbox  name="group1" value="其它" label="其它" 
                                [(ngModel)]="selectedSports" inputId="la">
                            </p-checkbox>
                        </div>
                    </div>
                </span> 
                <button pButton type="button" (click)="submitInfo()" lable="Save" class="ui-button-success">
                    确定
                </button>
                <button pButton type="button" (click)="clearInput()" lable="Cancel" class="ui-button-secondary cancel">
                    取消
                </button>
            </div>
            <div id="showInfo" ngDefaultControl [(ngModel)]="newUserMsg">
                <p-message severity="error" text="添加新用户失败" [ngStyle]="{'display':addfieldMsg}"
                    style="margin-top: 180px">
                </p-message>
                <p-message severity="error" text="编辑用户失败" [ngStyle]="{'display':updatefieldMsg}"
                    style="margin-top: 180px">
                </p-message>
                <div *ngFor="let newUser of newUserMsg" [ngStyle]="{'display':showInfoDiv}">
                    <h4 [(ngModel)]="text">{{text}}</h4>
                    <div id="user_Id">
                        <i>用户ID:</i>
                        <span>{{newUser.id}}</span>
                    </div>
                    <div id="user_name">
                        <i>用户名:</i>
                        <span>{{newUser.name}}</span>
                    </div>
                    <div id="password">
                        <i>用户密码:</i>
                        <span>{{newUser.password}}</span>
                    </div>
                    <div id="Age">
                        <i>用户年龄:</i>
                        <span>{{newUser.age}}</span>
                    </div>
                    <div id="sex">
                        <i>用户性别:</i>
                        <span>{{newUser.sex}}</span>
                    </div>
                    <div id="interest">
                        <i>用户爱好:</i>
                        <span *ngFor="let interest of newUser.interest">{{interest}}</span>
                    </div>
                    <button pButton type="button" (click)="clearInput()" lable="Cancel"
                        class="ui-button-secondary cancel">
                        关闭
                    </button>
                </div>
            </div>
        </p-sidebar>
    </div>

</div>